


$font-weight-base : 300;
$font-family-base : 'Poppins', sans-serif ;

$display-font-weight: 700 !default;
$display-line-height : 1.7;

$grid-gutter-width: 1.5rem !default;
$container-padding-x: $grid-gutter-width *2 !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 1.5,
  3: $spacer * 2,
  4: $spacer * 3,
  5: $spacer * 5,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Navbar
$topnav-height : 70px;

// COLORS OVERRIDES
// $primary :#ff8522;
// $primary: #20c997;
$primary: #6610f2;
$dark : #222222;
$black : #171717;
// $secondary : #FFF500;
$success : #09e1c0;
$danger : #FF3C38;
$warning : #FFE440;
$white : #ffffff;

// $card-bg : $white;
// $card-border-width : 0;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// LIGHT MODE OVERRIDES

$body-bg : $light;
$body-secondary-bg : $white;

// DARK mode Overrides
$body-bg-dark: #222222;
$body-secondary-bg-dark: #171717;
$primary-text-dark:  $indigo-300;
$link-color-dark:  $indigo-200;
$link-hover-color-dark:  $indigo-300;



@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
